.ipynb_checkpoints
.VSCodeCounter
__pycache__
*.egg-info
.coverage
.vscode
.pylintrc
.env
.*_cache
*_autosummary
coverage
docs/_build
docs/_static
docs/autosummary
docs/Makefile
docs/make.bat
/test-config.toml
test
testing.ipynb
deplicenses.txt
build
/.idea/developer-tools.xml
/.idea/maize-contrib.iml
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
.idea/*
.idea/*